#navbarNav {
    justify-content: right;
}

.bg-grey {
    background-color: #efefef;
}

.text-cursive-font {
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    max-width: 1000px;
    background: rgb(255,255,255, .9);
    margin: 10% auto;
}

.jumpbotron-wrapper {
    margin: auto;
    width: 100%;
    height: 100%;
}

.devtech-icons-wrapper{
    text-align: center;
}

.devtech-icon {
    max-height: 150px;
    max-width: 250px;
}

.profile-photo {
    max-height: 550px;
    max-width: 500px;
}

.profile-poto-wrapper {
    text-align: center;
}

.paragraph-text-size {
    font-size: 18px;
}

.mt-85 {
    margin-top: 85px;
}

.image-wrapper img{
    width: 500px;
}

.card:hover .project-overlay {
    opacity: 1;
    visibility: visible;
}

.project-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.card {
    overflow: hidden;
    position: relative;
}
.card img {
    transition: 0.6s;
}

.card:hover img {
    transform: scale(1.2);
}

.font-size-24 {
    font-size: 24px;
}

.bg-white {
    background-color: #ffffff ;
}

.slick-prev::before, .slick-next::before {
    color: #000000 !important;
}

.slick-prev {
    left: 25px !important;
    z-index: 2;
   
}

.slick-next {
    right: 25px !important;
    z-index: 2;
 
}