<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="/">{{ site.title }}</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/about">Kto som?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/devprofile">Čo robím?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Moje projekty</a>
            </li>
        </ul>
    </div>
</nav>