---
layout: default
---
<section class="row mb-3 mt-85">
        <div class="col-sm-12 col-12 col-md-6">
            <div class="profile-photo-wrapper vertical-middle">
                <img  class="profile-photo" src="{{ page.image_path }}">        
            </div>
        </div>
        <div class="col-sm-12 col-12 col-md-6">
            <h2 class="display-4 mb-4">{{ page.title }}</h2>
            <div>
                <p class="font-weight-light lead  text-justify">{{ content }}</p>
                <section>
                    <h3 class="display-5 mt-4">Záujmy</h3>
                    <p class="font-weight-light lead">{{ page.hobbies }}</p>
                </section>
                <section>
                    <h3 class="display-5 mt-4">Charakterové črty</h3>
                    <ul class="font-weight-light lead">
                        {% for character-trait in page.character-traits %}
                            <li>{{character-trait}}</li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </section>