---
layout: default
---
<section class="mt-3 mb-5">
    <h2 class="display-4 text-center">{{page.title}}</h2>
    {% if page.carousel %}
        <article class="regular slider mt-5 mb-4">   
                {% for image in page.carousel %}
                <div>
                    <img src="{{ image }}">
                </div>
                {% endfor %}
        </article>
    {% endif %}
    <hr>
    <section class="mt-2">
        <h3 class="font-size-24">Použité technológie</h3>
        <p class="lead paragraph-text-size text-justify">{{ page.technologies }}</p>
    </section>
    <hr>
    <section class="mt-2">
        <h3 class="font-size-24">Dátum vytvorenia</h3>
        <p class="lead paragraph-text-size text-justify">{{ page.date | date_to_string }}</p>
    </section>
    <hr>
    <section class="mt-2">
        <h3 class="font-size-24">Stav projektu</h3>
        <p class="lead paragraph-text-size text-justify text-uppercase">{{ page.tag }}</p>
    </section>
    <hr>
    <section>
        <p class="lead paragraph-text-size text-justify">{{ content }}</p>
    </section>
</section>


